{% extends 'base.html' %}

{% block title %}Home | {% endblock %}

{% block content %}
<div style="height: 400px;" class="container-fluid d-flex align-items-center">
    <div class="d-flex justify-content-center">
        <h2 class="title">Welcome To Minutos !</h2>
    </div>
</div>
<div style="height: 60px;" class="container-fluid">
    <div class="d-flex justify-content-center">
        <h5>Let's get started</h5><br />
    </div>
    <div class="d-flex justify-content-center mt-2">
        <div class="btn btn-primary" role="button">Getting started</div>
    </div>
</div>

{% endblock %}