{% extends 'base.html' %}

{% block title %}Plans | {% endblock %}

{% block content %}
<section>
    <div class="contaner mt-5">
        <h1 class="title">Plans</h1>
        <p>See more information find the most suitable plan for your team</p>
    </div>
</section>
<div class="row d-flex  justify-content-center mt-5">

    <div class="col d-flex justify-content-center">
        <div class="card d-flex justify-content-center">
            <div class="card-body">
                <h4 clas="card-title">Free</h4>
                <h6 clas="card-title">$0</h6>
            </div>
            <div class="card-text">
                <ul>
                    <li>3 Projects</li>
                    <li>1 memebder</li>
                    <li>10 tasks per project</li>
                </ul>
                </hr>
            </div>
            <div class="card-action">
                <a href="#" class="btn btn-success btn-md">Get Started</a>
            </div>
        </div>
    </div>
    <div class="col ">
        <div class="card">
            <div class="card-body">
                <h4 clas="card-title">Premium </h4>
                <h6 clas="card-title">$10</h6>
            </div>
            <div class="card-text">
                <ul>
                    <li>10 Projects</li>
                    <li>25 memebder</li>
                    <li>50 tasks per project</li>
                </ul>
                </hr>
                <a href="#" class="btn btn-success btn-md">Get Started</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}