{% extends 'base.html' %}

{% block title %}Privacy |{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-2">Privacy Policy</h2>
    <p>
        some text ...<br/>
        some text ...<br/>
        some text ...<br/>
        some text ...<br/>
        some text ...<br/>
        some text ...<br/>
        some text ...<br/>
        some text ...<br/>
        some text ...<br/>
        some text ...<br/>
        some text ...<br/>
        some text ...<br/>
        some text ...<br/>
        some text ...<br/>
        some text ...<br/>
        some text ...<br/>
        some text ...<br/>
    </p>
</div>

{% endblock %}